<% provide(:title, "Contrasena") %>
<h1>Editar Nueva Contraseña</h1>
<br>
<div class="row">
  <div class="span6 offset2 form-horizontal">
<%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Información no válida</h2>
      <ul>
      	<% for message in @user.errors.full_messages %>
      	  <li><%= message %></li>
      	<% end %>
      </ul>
    </div>
  <% end %>
  	<div class="control-group">
  	<%= f.label :contrasena, nil, :class => 'control-label' %>
  	  <div class="controls">
  	<%= f.password_field :password %>
  </div>
</div>
  	<div class="control-group">
  	<%= f.label :Confirmar_contrasena, nil, :class => 'control-label' %>
  	  <div class="controls">
  	<%= f.password_field :password_confirmation %>
  </div>
</div>
    <div class="control-group">
      <div class="controls">
      	<%= f.submit "Editar Contrasena", class: "btn btn-large btn-success" %>
      </div>
  </div>
<% end %>