<%= form_for(@articleaddressee) do |f| %>
  <% if @articleaddressee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@articleaddressee.errors.count, "error") %> prohibited this articleaddressee from being saved:</h2>

      <ul>
      <% @articleaddressee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :article_id %><br />
    <%= f.text_field :article_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :seen %><br />
    <%= f.text_field :seen %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
