<li id="<%= subfeedlev1_item.id %>">
  <%= image_tag avatarURL(subfeedlev1_item.user, 'minithumb') %>
  <div class="message">
  <span class="user">
    <%= link_to subfeedlev1_item.user.name, subfeedlev1_item.user %>
  </span>
  <span class="content">
    <%= subfeedlev1_item.content %>
  </span>
  </div>
  <div class="timestamp">
  	<br \>Publicado hace <%= time_ago_in_words_art(subfeedlev1_item.created_at) %>.
    <% if current_user?(subfeedlev1_item.user) %>
      <%= link_to " <eliminar>", subfeedlev1_item, method: :delete, 
                  confirm: "estás seguro?" %>
    <% end %>
    <% if (controller.controller_name == "articles" && action_name == "show" && current_user != subfeedlev1_item.user) %>
      <span class="toggle">
        <a href="javascript:void(0)">| responder</a>
      </span>
      <div class="hiddenDiv">
        <%= form_for(@micropost, remote: true) do |f| %>
          <% thing_id = Article.find(params[:id]).id %>
          <div class="field">
            <%= f.text_area :content, placeholder: "Escribe aquí tu respuesta..." %>
          </div>
          <%= f.hidden_field :thing, :value => '3' %>
          <%= f.hidden_field :thing_id, :value => thing_id %>
          <%= f.hidden_field :parent_post_id, :value => subfeedlev1_item.id %>
           <%= f.hidden_field :parent_post_level, :value => '2' %>
           <br/>
           <%= f.submit "Publicar", class: "btn" %>
        <% end %>
      </div>
    <% end %>
  </div>
</li>
<% if Micropost.lev2_replied_comment_to(subfeedlev1_item).any? %>
  <% @subfeedlev2_items = Micropost.lev2_replied_comment_to(subfeedlev1_item) %>
  <ol class="submicroposts">
    <%= render partial: 'shared/subfeedlev2_item', collection: @subfeedlev2_items %>
  </ol>
<% end %>